.contact {
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    color: var(--jet);
}

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formGroup {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: var(--jet);
}

input,
textarea {
    padding: 10px;
    border: 1px solid var(--grey);
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

input:focus,
textarea:focus {
    border-color: var(--gold);
}

.submitButton {
    padding: 10px 20px;
    background-color: var(--gold);
    color: var(--white);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.submitButton:hover {
    background-color: var(--jet);
}